<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{ professor.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>Professor(a)</div>
    <div>
        <input type="text" name="name" placeholder="Nome do Professor" value="{{ professor.name }}">
    </div>
</div>

<div class="item">
    <div>Data de nacimento</div>
    <div>
        <input type="date" name="birth" value="{{ professor.birth }}">
    </div>
</div>

<div class="item">
    <div>Grau de escolaridade</div>
    <div>
        <select name="escolaridade">
            <option value="Ensino Médio Completo" {%if professor.escolaridade=='Ensino Médio Completo'%} selected {% endif %}>Ensino Médio Completo</option>
            <option value="Ensino Superior Completo" {%if professor.escolaridade=='Ensino Superior Completo'%} selected {% endif %}>Ensino Superior Completo</option>
            <option value="Mestrado" {%if professor.escolaridade=='Mestrado'%} selected {% endif %}>Mestrado</option>
            <option value="Doutorado" {%if professor.escolaridade=='Doutorado'%} selected {% endif %}>Doutorado</option>   
        </select>
    </div>
</div>

<div class="item">
    <div>Tipo de Aula</div>
    <div>
        <span><input type="radio" name="aula" value="Presencial" {%if professor.aula=='Presencial'%} checked {% endif %}>Presencial</span>
        <span><input type="radio" name="aula" value="À distância" {%if professor.aula=='À distância'%} checked {% endif %}>À distância</span>
    </div>
</div>

<div class="item">
    <div>Área de atuação</div>
    <div>
        <input type="text" name="services" placeholder="Digite as disciplinas lecionadas (separadas por vírgula)." value="{{professor.services}}">
    </div>
</div>

<div class="item">
    <button type="submit">Salvar</button>
</div>