{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        <div class="header">
            <a href="/professores/create">Novo</a>
            <form action="/professores" method="get">
                <input type="text" name="filter" placeholder="Nome ou Atendimento" value={{filter}}>
                <button type="submit">Filtrar</button>
            </form>
        </div>
        
        <table width=100%>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Acompanhamento</th>
                    <th>Qtd. de Alunos</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for professor in professores %}
                <tr>
                    <td><span style="background-image: url({{professor.avatar_url}})"></span>{{professor.name}}</td>
                    <td>
                        {%for service in professor.services.split(",") %}
                            <span>{{ service }}</span>
                        {%endfor%}
                    </td>
                    <td>{{professor.total_students}}</td>
                    <td><a href="/professores/{{professor.id}}">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>

    </div>

{% endblock content %}