{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        <div class="header">
            <a href="/estudantes/create">Novo</a>
            <form action="/estudantes" method="get">
                <input type="text" name="filter" placeholder="Nome ou Email" value={{filter}}>
                <button type="submit">Filtrar</button>
            </form>
        </div>

        <table width=100%>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ano Escolar</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for estudante in estudantes %}
                <tr>
                    <td><span style="background-image: url({{estudante.avatar_url}})"></span>{{estudante.name}}</td>
                    <td>{{estudante.email}}</td>
                    <td>{{estudante.escolaridade}}</td>
                    <td><a href="/estudantes/{{estudante.id}}">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>

    </div>

{% endblock content %}